<div class="container-fluid body">
  <table class="container">
    <tr>
      <th><h1>About Me</h1></th>
    </tr>
    <tr>
      <td class="blocks1 boxing">
        <img
          [src]="imagePath1"
          alt="my about me logo"
          style="width: 156px; height: 216px"
        />
      </td>
      <td>
        <div class="container-fluid ">
          Frontend Angular Developer with total 2 years of professional experience on HTML5, CSS3, Bootstrap, Tailwind CSS, JavaScript, Angular 12/14/15/17, RxJs, NgRx, Ag-grid, Angular-Material, Playwright(Basic), Git, GitHub, Version Control.

<hr>Technical Summary:<hr>

✔ Accomplished Frontend Angular Developer with 2+ years of professional experience in web development.<br>
✔ Proficient in HTML5, CSS3, Bootstrap, Tailwind CSS, JavaScript, and Angular 12/14/15/17.<br>
✔Successfully completed 10+ projects, showcasing expertise in UI development and utilization of tools like Angular Material, Ag-Grid, and Tabler.io.<br>
✔Technical proficiency in popular IDEs: VS Code, Atom, Sublime, Brackets, and Notepad++.<br>
✔Strong debugging and troubleshooting skills using Chrome Developer Tools, ensuring optimal code performance.<br>
✔ Adaptable and solution-oriented, managing diverse projects based on client requirements.<br>
✔Excellent communication, problem-solving, and planning skills for effective collaboration in both independent and team environments.<br>
✔ Proactive in maintaining and enhancing existing applications, with a keen focus on continuous improvement.<br>
✔ Passionate about staying updated on new technologies, tools, and methodologies to contribute to cutting-edge projects.<br>
<br><a href="../../assets/Ritesh Kumar.pdf" target="_blank"
            ><button type="button" class="btn">Download CV</button></a
          >
        </div>
      </td>
      <!-- <td>
        <div class="container boxing">
          Angular 15
          <div class="progres">
            <div class="progres-bar bars-1">75%</div>
          </div>
        </div>
        <div class="container boxing">
          HTML, CSS , JavaScript
          <div class="progres">
            <div class="progres-bar bars-2">65%</div>
          </div>
        </div>
        <div class="container boxing">
          Version Control(Git)
          <div class="progres">
            <div class="progres-bar bars-3">50%</div>
          </div>
        </div>
      </td> -->
    </tr>
  </table>
</div>
