<div class="container-fluid">
  <table class="container">
    <tr>
      <th><h1>About Me</h1></th>
    </tr>
    <tr>
      <td class="blocks1 boxing">
        <img
          [src]="imagePath1"
          alt="my about me logo"
          style="width: 156px; height: 216px"
        />
      </td>
      <td>
        <div class="container-fluid blocks boxing">
          I am Ritesh Kumar, frontend developer. I have rich experience in web
          site design and building and customization grid using Ag-grid, also I
          am good at creating single web applications. <br />
          <a href="../../assets/Ritesh Kumar.pdf" target="_blank"
            ><button type="button" class="btn">Download CV</button></a
          >
        </div>
      </td>
      <td>
        <div class="container boxing">
          Development
          <div class="progres">
            <div class="progres-bar bars-1">75%</div>
          </div>
        </div>
        <div class="container boxing">
          Website Design
          <div class="progres">
            <div class="progres-bar bars-2">25%</div>
          </div>
        </div>
        <div class="container boxing">
          Photography
          <div class="progres">
            <div class="progres-bar bars-3">50%</div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
