<div class="container-fluid body">
  <table class="container">
    <tr>
      <th><h1>About Me</h1></th>
    </tr>
    <tr>
      <td class="blocks1 boxing">
        <img
          [src]="imagePath1"
          alt="my about me logo"
          style="width: 156px; height: 216px"
        />
      </td>
      <td>
        <div class="container-fluid blocks boxing">
          I am passionate about Angular development and am excited to continue
          growing and learning in this field. Thank you for taking the time to
          read about me, and I look forward to the opportunity to work with
          you.<br />
          <a href="../../assets/Ritesh Kumar.pdf" target="_blank"
            ><button type="button" class="btn">Download CV</button></a
          >
        </div>
      </td>
      <td>
        <div class="container boxing">
          Angular 15
          <div class="progres">
            <div class="progres-bar bars-1">75%</div>
          </div>
        </div>
        <div class="container boxing">
          HTML, CSS , JavaScript
          <div class="progres">
            <div class="progres-bar bars-2">65%</div>
          </div>
        </div>
        <div class="container boxing">
          Version Control(Git)
          <div class="progres">
            <div class="progres-bar bars-3">50%</div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
