<div class="row body">
  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-light">Contacts</h1>
    <div class="container contact">
      Thank you for your interest in contacting me! If you have any questions,
      comments, or job opportunities, please feel free to reach out to me using
      the following contact information:
    </div>
    <div class="container contact text-danger">
      Email : riteshroshan.kumar6@gmail.com <br />Phone : +91-8210961014
    </div>
    <div class="container contact">
      I am available to discuss any Angular development needs that you may have,
      whether it's a small project or a large-scale enterprise application. I am
      also open to collaborating with other developers or companies on
      Angular-related projects.
    </div>
    <div class="container contact">
      In addition to my technical skills, I am also a strong communicator and
      collaborator. I understand the importance of working closely with clients
      and stakeholders to ensure that their needs are met and their vision is
      realized.
    </div>
    <div class="container contact">
      If you prefer to communicate through a different channel, please let me
      know and I will do my best to accommodate your request. Thank you for
      considering me as your Angular developer, and I look forward to hearing
      from you soon!
    </div>
  </div>
  <div class="col-2"></div>
</div>
