<div class="row body">
  <div class="col-2"></div>
  <div class="col-8">
    <h1 class="text-light">Contacts</h1>
    <div class="container contact">





Thank you for reaching out! If you'd like to get in touch with me, here are my contact details:
    </div>
    <div class="container contact text-danger">
      Email : riteshroshan.kumar6&#64;gmail.com <br />Phone : +91-8210961014
    </div>
    <div class="container contact">
      I'm available to discuss your Angular development needs, whether it's a small project or a large enterprise-level application. I'm also open to collaborating with other developers or companies on Angular-related projects.
    </div>
    <div class="container contact">
      Beyond my technical expertise, I'm a strong communicator and enjoy collaborating with clients and stakeholders to ensure their requirements are met and their vision is achieved.
    </div>
    <div class="container contact">
      If you prefer to communicate through a different platform, let me know, and I'll do my best to accommodate. Thanks for considering me for your Angular project, and I look forward to hearing from you!
    </div>
  </div>
  <div class="col-2"></div>
</div>
