<div class="container mx-auto px-6 py-8 lg:p-24">
  <!-- About Me Section -->
  <section class="about-me mb-16">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-8 animate-fade-in">About Me</h1>
    <div class="flex flex-col items-center lg:flex-row lg:space-x-8">
      <div class="text-center lg:text-left">
        <img [src]="imagePath1" alt="my about me logo" class="w-52 h-64 mx-auto lg:mx-0 mb-4 lg:mb-0 animate-slide-up"/>
      </div>
      <div class="bg-white shadow-lg rounded-xl px-6 py-6 hover:shadow-2xl transition duration-300 animate-slide-up">
        <p class="text-lg font-medium leading-8 text-gray-700">
          Software Developer with 2+ years of experience in frontend role, specializing in Angular frameworks and modern web technologies.
        </p>
      </div>
    </div>
  </section>

  <!-- Skills Section -->
  <section class="skills-section text-center py-8 mb-16">
    <h2 class="text-4xl font-bold text-gray-800 mb-6 animate-fade-in">Skills</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-6 justify-center px-4">
      <!-- Example Skill Card -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <i class="fab fa-html5 text-5xl text-orange-500 mb-2"></i>
        <span class="text-base font-semibold text-gray-700">HTML</span>
      </div>
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <i class="fab fa-css3-alt text-5xl text-blue-400 mb-2"></i>
        <span class="text-base font-semibold text-gray-700">CSS</span>
      </div>
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <i class="fab fa-js-square text-5xl text-yellow-500 mb-2"></i>
        <span class="text-base font-semibold text-gray-700">JavaScript</span>
      </div>
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <svg class="text-slate-900 dark:text-white mb-2" style="width: 3.5rem; height:2rem;">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z" fill="#38bdf8"></path>
        </svg>
        <span class="text-base font-semibold text-gray-700">Tailwind CSS</span>
      </div>
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <i class="fab fa-angular text-5xl text-red-600 mb-2"></i>
        <span class="text-base font-semibold text-gray-700">Angular</span>
      </div>
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968381.png" width="40" height="40" alt="" title="" class="img-small">
        <span class="text-base font-semibold text-gray-700">TypeScript</span>
      </div>

      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <i class="fab fa-git-alt text-5xl text-orange-600 mb-2"></i>
        <span class="text-base font-semibold text-gray-700">Git</span>
      </div>
      <!-- Github Icon -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <i class="fab fa-github text-5xl text-orange-600 mb-2"></i>
        <span class="text-base font-semibold text-gray-700">Github</span>
      </div>
      <!-- RxJS Icon -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <img src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" width="40" height="40" alt="" title="" class="img-small">

        <span class="text-base font-semibold text-gray-700">RxJS</span>
      </div>
      <!-- Bootstrap Icon -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <i class="fab fa-bootstrap text-5xl text-orange-600 mb-2"></i>
        <span class="text-base font-semibold text-gray-700">Bootstrap</span>
      </div>

      <!-- Primeng Icon -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <img src="https://avatars.githubusercontent.com/u/65972240" width="40" height="40" alt="" title="" class="img-small">

        <span class="text-base font-semibold text-gray-700">Primeng</span>
      </div>

      <!-- Nebular UI Icon -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <img src="https://akveo.github.io/nebular/favicon.png" width="40" height="40" alt="" title="" class="img-small">
        <span class="text-base font-semibold text-gray-700">Nebular UI</span>
      </div>

      <!-- Angular Material Icon -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <svg _ngcontent-ng-c3052461960="" x="0px" y="0px" width="40" height="40" viewBox="0 0 960 960"><polygon _ngcontent-ng-c3052461960="" points="562.6,109.8 804.1,629.5 829.2,233.1"></polygon><polygon _ngcontent-ng-c3052461960="" points="624.9,655.9 334.3,655.9 297.2,745.8 479.6,849.8 662,745.8"></polygon><polygon _ngcontent-ng-c3052461960="" points="384.1,539.3 575.2,539.3 479.6,307"></polygon><polygon _ngcontent-ng-c3052461960="" points="396.6,109.8 130,233.1 155.1,629.5"></polygon></svg>
        <span class="text-base font-semibold text-gray-700">Angular Material</span>
      </div>
      <!-- Debugging Icon -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <img src="https://static.thenounproject.com/png/83827-512.png" width="40" height="40" alt="" title="" class="img-small">
        <span class="text-base font-semibold text-gray-700">Debugging</span>
      </div>

      <!-- Chrome Dev Tools Icon -->
      <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <i class="fab fa-chrome fa-spin text-4xl text-black-600 mb-2"></i>
        <span class="text-base font-semibold text-gray-700">Chrome Dev Tools</span>
      </div>

      <!-- Azure Active Directory Icon -->
      <!-- <div class="flex flex-col items-center bg-white shadow-md rounded-lg p-4 transform hover:scale-105 transition duration-300 animate-slide-up">
        <img src="https://static-00.iconduck.com/assets.00/azure-active-directory-aad-icon-488x512-3d71nrtk.png" width="40" height="40" alt="" title="" class="img-small">
        <span class="text-base font-semibold text-gray-700">Azure Active Directory</span>
      </div> -->
      <!--  -->
      <!--  -->
    </div>
  </section>

  <!-- Technical Summary -->
  <div class="technical-summary lg:px-4">
    <h3 class="font-semibold text-2xl mb-4 text-gray-800 animate-fade-in">Technical Summary:</h3>
    <ul class="list-disc ml-6 space-y-2 text-base text-gray-700 animate-slide-up">
      <li>Frontend Developer with 2+ years of experience delivering scalable Angular applications using HTML5, CSS3, Tailwind CSS, JavaScript, and TypeScript (Angular 12–20).</li>
<li>Proficient in building and maintaining SPAs using Angular Material, AG Grid, and responsive design principles.</li>
<li>Contributed to front-end architecture decisions, component standardization, and performance optimization across teams.</li>
<li>Collaborated closely with QA and backend teams to resolve bugs, integrate REST APIs, and ensure stable releases in Agile environments.</li>
<li>Skilled in debugging and performance tuning using Chrome DevTools and modern state management tools (RxJS, NgRx).</li>
<li>Adaptable and delivery-focused, with a proven ability to execute diverse client-facing projects from concept to deployment.</li>
    </ul>
    <a href="../../assets/Ritesh Kumar.pdf" target="_blank">
      <button class="bg-red-600 text-white text-center py-3 px-6 rounded-full mt-6 hover:bg-green-700 transform hover:scale-105 transition duration-300">
        Download CV
      </button>
    </a>
  </div>
</div>
