<div class="container">
  <h1>Calculator</h1>
  <!-- The first row displays the user input including the operators.
The second row displays the result as the user type.
C Clears all displays
x clears the last input i.e delete
/, X,- & + are our four operators for division, multiplication subtraction & addition
use . to enter the decimal numbers
= Calculates and resets the user input. -->
<div class="input-group input-group-sm col-sm-12 m-0 p-0">
  <div class="col-sm-12 form-control text-lg-right" type="text">{{data}}</div>
<div class="input-group input-group-sm col-sm-12 m-0 p-0">
  <div class="form-control text-sm-right" type="text">{{result}}</div></div>
<div class="container-body">
<div class="btn-group">
  <button class="btn btn-danger" (click)="allClear()">C</button>
  <button class="btn btn-warning" (click)="clear()">X</button>
  <button class="btn btn-secondary" (click)="pressOperator('/')">/</button>
</div>
<div class="btn-group">
  <button class="btn btn-light col-2.5" (click)="pressNum('7')">7</button>
  <button class="btn btn-light col-2" (click)="pressNum('8')">8</button>
  <button class="btn btn-light col-2" (click)="pressNum('9')">9</button>
  <button class="btn btn-secondary col-4" (click)="pressOperator('*')">*</button>
</div>
<div class="btn-group">
  <button class="btn btn-light col-2.5" (click)="pressNum('4')">4</button>
  <button class="btn btn-light col-2" (click)="pressNum('5')">5</button>
  <button class="btn btn-light col-2" (click)="pressNum('6')">6</button>
  <button class="btn btn-secondary col-4" (click)="pressOperator('-')">-</button>
</div>
<div class="btn-group">
  <button class="btn btn-light col-2.5" (click)="pressNum('1')">1</button>
  <button class="btn btn-light col-2" (click)="pressNum('2')">2</button>
  <button class="btn btn-light col-2" (click)="pressNum('3')">3</button>
  <button class="btn btn-secondary col-4" (click)="pressOperator('+')">+</button>
</div>
<div class="btn-group">
  <button class="btn btn-light col-3" (click)="pressNum('.')">.</button>
  <button class="btn btn-light col-3" (click)="pressNum('0')">0</button>
  <button class="btn btn-success col-6" (click)="getAnswer()">=</button>
</div>
</div>
</div>
