.container-fluid,
.navbar {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    rgb(134, 239, 172),
    rgb(59, 130, 246),
    rgb(147, 51, 234)
  );
}
.nav-content {
  color: white;
}
